.animation-container {
  position: relative;
  width: 100%;
  height: 40vh;
  background-color: #fff5f5; /* Light background to highlight red drops */
  overflow: hidden;
}

.blood-drop {
  position: absolute;
  bottom: 20%;
  width: 30px;
  height: 30px;
  background-color: #d10000;
  border-radius: 50% 50% 50% 0;
  transform: rotate(-45deg);
  animation: moveDrop 5s linear infinite;
  box-shadow: 0 0 10px #d10000;
}

/* Create staggered animation */
.drop1 {
  animation-delay: 0s;
  left: -40px;
}

.drop2 {
  animation-delay: 2s;
  left: -80px;
}

.drop3 {
  animation-delay: 4s;
  left: -120px;
}

@keyframes moveDrop {
  0% {
    transform: translateX(0) rotate(-45deg);
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    transform: translateX(110vw) rotate(-45deg);
    opacity: 0;
  }
}

.logo{
  border-radius: 50%;
  overflow: hidden;
  width: 5px;
  height: 5px;
}
#logo{
  width: 4px;
  height: 4px;
} 